/*************************************************************/
// ADMIN BOOTSTRAP TEMPLATE BY INSPIRE ELECTRONICS
/*************************************************************/

//IMPORT BOOTSTRAP FILES
@import "../bootstrap/bootstrap.less";
//IMPORT TABLES HIDDEN FIELDS
//@import "admin-tables.less";

//FONTS
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

//ICON FLAGS
@import "flag-icon/less/flag-icon.less";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  position: relative;
  top:4px;
  margin-right: 10px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-66 { font-size: 66px; }

//VARS
/*@darkPrimaryColor:   #1976D2;
@primaryColor:       #2196F3;
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #FF5722;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;
@lightDividerColor:  #E7E7E7;

@checkboxColor: #6D6D6D;
@successColor: #4CAF50;
@errorColor: #F44336;
@mainErrorBGColor:#333333;

@tableHeaderColor: #8A8A8A;
@tableHoverBgColor: #EEEEEE;

@materialBackgroundColor: #e9e9e9;

@materialRed: #EF5350;
@materialGreen: #8BC34A;
@materialYellow: #FFC107;

@headerTitleColor: #666666;*/

//VARS
@darkPrimaryColor:   #1976D2;
@primaryColor:       #2196F3;
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #FF5722;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;
@lightDividerColor:  #E7E7E7;

//HEADER
@headerTitleColor: #666666;

//SIDEBAR
@sidebarBgColor: #FFFFFF;
@sidebarHoverBgColor: #EEEEEE;
@sidebarHeaderBgColor: #EEEEEE;

@checkboxColor: #6D6D6D;
@successColor: #4CAF50;
@errorColor: #F44336;
@mainErrorBGColor:#333333;

// TABLE
@tableHeaderColor: #8A8A8A;
@tableHoverBgColor: #EEEEEE;

//PANELS / CONTAINERS
@containerBgColor: #FFFFFF;

@materialBackgroundColor: #e9e9e9;

//COLORS
@materialRed: #EF5350;
@materialGreen: #8BC34A;
@materialYellow: #FFC107;

//MATERIAL COLORS
@materialColorRed: #F44336;
@materialColorPink: #E91E63;
@materialColorPurple: #9C27B0;
@materialColorDeepPurple: #673AB7;
@materialColorIndigo: #3F51B5;
@materialColorBlue: #2196F3;
@materialColorLightBlue: #03A9F4;
@materialColorCyan: #00BCD4;
@materialColorTeal: #009688;
@materialColorGreen: #4CAF50;
@materialColorLightGreen: #8BC34A;
@materialColorLime: #CDDC39;
@materialColorYellow: #FFEB3B;
@materialColorAmber: #FFC107;
@materialColorOrange: #FF9800;
@materialColorDeepOrange: #FF5722;

/*PLUGINS CUSTOM STYLES*/
@import "../select2/select2.less";

/*************************************************************/
// GENERAL
/*************************************************************/
html, body{
  font-family: 'Roboto', sans-serif;
  color: @primaryTextColor;
  height:100%;
  background-color: @materialBackgroundColor;
}

* { outline: none; }

/*CAKE ERROR CONTAINER*/
pre.cake-error{
  margin: 0px;
  padding-top: 30px;
  border-radius: 0px;
  position: fixed;
  width:100%;
  height:200px;
  left:0px;
  bottom:0px;
  z-index: 9998;
}

pre.cake-error::before {
  content:"System Debug:";
  position: absolute;
  margin-top: -24px;
  content: "System Debug:";
  position: absolute;
  margin-top: -30px;
  width: 100%;
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0,0,0,0.09);
  border-bottom: 1px solid #cccccc;
}

.cake-sql-log {
  margin: 0px;
  padding-top: 30px;
  border-radius: 0px;
  position: fixed;
  width:100%;
  height:200px;
  left:0px;
  bottom:0px;
  z-index: 9998;
  background-color: #FFFFFF;

  caption {
    padding: 0px;
    background-color: #FFFFFF;
    text-align: right;
    /* z-index: 100000; */
    position: absolute;
    width: 100%;
    margin-top: -85px;
    background-color: transparent;
    margin-left: -10px;
  }

  &:before {
    content: "System Query Debug:";
    position: absolute;
    margin-top: -92px;
    width: 100%;
    /* margin-left: -10px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #DDD;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
  }
}


//MAIN MARKUP

a {
  color: @secondaryTextColor;
}

a:hover, a:focus {
  color: @primaryTextColor;
  text-decoration: none !important;
  cursor: pointer;
}

a:focus {
  outline: none !important;
}

a:hover > i {
  color: @primaryColor;
}

a:hover > span > i {
  color: @primaryColor;
}

h1 {
  font-size:18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: @headerTitleColor;
  text-transform: uppercase;
}

h2 {
  font-size:16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  color: @headerTitleColor;
  text-transform: uppercase;
}

dd { margin-bottom: 15px; }

td.child ul {
  list-style-type: none !important;
  margin-bottom: 0px;
  padding: 0px;
}
td.child li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dtr-title {
  display: inline-block;
  width: 25%;
}

.dtr-data {
  display: inline-block;
  width: 25%;
}

//COLOR HELPER CLASSES
.primaryColor { color: @primaryColor; }
.successColor { color: @successColor; }
.errorColor { color: @errorColor; }
.accentColor { color: @accentColor; }

//MATERIAL ALERT
.alert {
  background-color:@mainErrorBGColor !important;
  color:#FFFFFF !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width:100% !important;
  margin: 0px !important;
  border: 0px !important;
  border-radius: 0px !important;
  position:fixed !important;
  z-index:99999 !important;
  left:0;
  bottom:0;

  & > .material-icons {
    font-size: 18px !important;
  }

  & > .material-button-flat {
    height: 24px !important;
    padding-top: 3px !important;
  }
}

//BUTTONS
.material-button, input[type="submit"], input[type="button"] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  background-color: @primaryColor;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border:0px !important;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

.inverted-button {
  background-color: #EEEEEE;
  color: @primaryTextColor;
}

.material-button-flat {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  background-color: transparent !important;
  color: @primaryColor;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border:0px !important;
}

.material-button-flat:hover, .material-button-flat:active {
  background-color: rgba(0, 0, 0, 0.18) !important;
  box-shadow: none !important;
}

.dense {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px !important;
}

.material-button:active, .dense:active, input[type="submit"]:active, input[type="button"]:active{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
  text-decoration: none;
}

.error-tip{
  clear: both;
  /*position: relative;
  top: -15px;*/
  font-size: 12px;
  color: #F44336;
}

.topbar-button {
  color: #FFFFFF;
  padding-top: 9px;
  margin-top: 4px;
  border-radius: 4px;
  padding: 5px 10px;
}

.topbar-button:hover {
  color: #FFFFFF;
  background-color: @darkPrimaryColor;
}

//DROPDOWN
.material-dropdown {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.175);
  max-width: 375px;
}

.material-dropdown .material-button-flat{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .material-dropdown {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.material-dropdown > li {
  font-size: 16px;
  clear: both;
}

.material-dropdown > li:hover {

}

.material-dropdown > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.material-dropdown > li > a:hover {
  background-color: rgba(0,0,0,0.173);
}

.material-dropdown .info {
  text-align: left;
  color: @primaryColor;
  font-size: 12px;

}

//NOTIFICATIONS
.note-icon{
  margin-right:20px;
  color: @secondaryTextColor;
}

.note-counter {
  pointer-events: none;
  position: absolute;
  background-color: #EF5350;
  min-width: 14px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 14px;
  margin-top: -12px;
  margin-left: 26px;
}

//BUTTON BAR
.button-bar {
  height: 54px;
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.button-bar a {
  display: block;
}

.button-bar i {
  margin: 0px !important;
}

.round-button {
  background: @primaryColor;
  border-radius: 24px;
  color: #FFFFFF;
  width: 46px;
  height: 46px;
  text-align: center;
  padding-top: 11px;
  box-shadow: 1px 4px 6px #CCCCCC;
}

.round-button:hover {
  background: @darkPrimaryColor;
  color: #FFFFFF;
}

.tooltip-inner {
  background: #747474 !important;
  padding-top: 8px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  text-transform: uppercase;
  height: 32px !important;
}

.tooltip-arrow {display: none;}

//INPUT
.form-group {
   margin-bottom: 25px !important;
}

.form-control:focus {
  outline: none;
  border-color: @primaryColor;
  border-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input, select, select[multiple], textarea {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:1px solid @lightDividerColor;
  padding: 4px 4px;
  box-shadow: none;
  overflow-y: auto;
  font-size:14px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: border-color ease-in-out .15s, border-width ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, border-width ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, border-width ease-in-out .15s;
}
//AVOID AUTOFILL BACKGROUND FROM STAYING
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="number"] {
  height: 30px !important;
}

label {
  font-size: 16px;
  font-weight: 400;
}

label.material-label {
  position: relative;
  top: -25px;
  font-size: 16px;
  font-weight: 400;
  float: left;
  cursor:text;
  transition:0.2s ease-in-out all;
  -moz-transition:0.2s ease-in-out all;
  -webkit-transition:0.2s ease-in-out all;
  height: 0px;
}

.form-group::after {
  content: '';
  display: block;
  clear: both;
}

label.material-label-focus {
  top: -45px !important;
  font-size: 12px !important;
  color: @primaryColor !important;
}

/*input:focus ~ label {
  top: -50px !important;
  font-size: 12px !important;
  color: @primaryColor;
}*/

//SELECT
.material-date-container select {
  width: 33.333333%;
  display: inline-block;
}

//CHECKBOX
.checkbox {
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 0px !important;
}

input[type="checkbox"] + label:before {
  font-family: 'Material Icons';
  content: "\e835";
  color: @checkboxColor;
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  position:relative;
  top:-6px;
}
input[type="checkbox"]:checked + label:before {
  font-family: 'Material Icons';
  background: #fff;
  color: @primaryColor;
  content: "\e834";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

//TABLE
table.material-table {
  th, td {
    vertical-align: middle !important;
  }

  td:last-child {
    white-space:nowrap;
  }

  & > thead > tr > th {
    border:0px !important;
    color: @tableHeaderColor;
    font-size:13px;
    font-weight: 700;
    padding: 18px 24px 18px 24px !important;
  }

  &.collapsed > tbody > tr > td[tabindex="0"]:first-child {
    padding-left: 40px !important;
  }

  &.collapsed > tbody > tr > td[tabindex="0"]:first-child::before {
    font-family: 'Material Icons';
    content: "";
    width: 16px;
    height: 16px;
    background: url(./arrow_down.png);
    position: absolute;
    margin-left: -30px;
    margin-top: 2px;
    opacity: 0.4;
  }

  & > thead > tr > th:hover {
    color: @primaryTextColor;
  }

  & > thead > tr > th:focus {
    background-color: @tableHoverBgColor;
  }

  & > tbody > tr > td {
    padding: 14px 24px 14px 24px !important;
  }

  & > tbody > tr:hover {
    background-color: @tableHoverBgColor;
  }
}

//MODALS
.modal {
  padding: 0px !important;

  .modal-dialog { margin: 100px auto; }

  .modal-content {
    border: 0px;
    border-radius: 2px !important;
    color: @secondaryTextColor;
    margin-left: 10px;
    margin-right: 10px;
  }

  .modal-header {
    border-bottom: 0px;
    color: @primaryTextColor;
    font-size: 20px;
    padding: 24px 24px 20px 24px;
  }

  .modal-body {
    padding: 0px 24px 24px 24px;
    font-size: 16px;
  }

  .modal-body p { margin:0px; }

  .modal-footer {
    border-top: 1px solid @lightDividerColor;
    height: 56px;
    padding: 8px;
  }
}

//DATATABLES
.dataTables_filter {
  display: none;
}

#datatables-footer {
  border-top: 1px solid @lightDividerColor;
  padding: 15px 0px 15px 0px;
}

#datatables-information {
  color: @tableHeaderColor;
}

@media (max-width: 768px) {
  #datatables-information {
    text-align: center;
    margin-bottom: 20px;
  }

  #datatables-pagination {
    text-align: center;
  }

  .table-responsive {
    border: none !important;
  }
}

#datatables-footer {
  .paginate_button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    background-color: transparent !important;
    color: @primaryColor;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border:0px !important;
  }

  .paginate_button:hover, .paginate_button:active {
    background-color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }

  .paginate_button.disabled {
    color: @tableHeaderColor;
    background-color: transparent !important;
    box-shadow: none !important;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
}


//PANEL
.panel-material {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  & > .panel-heading {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid @lightDividerColor;
    padding: 18px 24px 17px 24px !important;
  }
  & > .panel-body { padding: 0px; }
  & > .panel-body table { margin:0px !important; }
}

//INFO-BOX
.material-info-box {
  box-shadow: 0px 2px 4px #CCCCCC;
  height: 80px;
  display: flex;
  cursor: default;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;

    i {
      color: #fff;
      font-size: 50px;
      line-height: 80px;
      top:0px;
      margin-right: 0px;
    }
  }
  .content {
    display: inline-block;
    padding: 7px 10px;

    .card-title {
      font-size: 13px;
      margin-top: 11px;
    }

    .card-content {
      font-weight: normal;
      font-size: 26px;
      margin-top: -4px;
    }
  }
}

.primary-card {
  background-color: @primaryColor;
  color: #FFFFFF;
}

.red-card {
  background-color: @materialRed;
  color: #FFFFFF;
}

.green-card {
  background-color: @materialGreen;
  color: #FFFFFF;
}

.yellow-card {
  background-color: @materialYellow;
  color: #FFFFFF;
}

/*************************************************************/
// LOGIN
/*************************************************************/
.login-container {
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  position:absolute;

  .login-content {
    width: 330px;
    height: 320px;
    margin: 0px auto;
    background: #FFFFFF;
    padding: 30px 30px 30px 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #BBBBBB;
    position: relative;
    top: 50%;
    margin-top: -200px;

    .login-logotype {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      margin-top: -15px;
    }
  }

  h1 {
    margin-top:5px;
    margin-bottom: 35px;
  }

  p {
    margin-top:10px;
    margin-bottom: 0px;
  }
}

/*************************************************************/
// HEADER
/*************************************************************/

/*************************************************************/
//BODY
/*************************************************************/
/*WRAPPERS*/
#page-wrapper {
  min-height: 568px;
  background-color: #FFFFFF;
  //margin-top:51px;
  padding-top: 50px;
  height:100%;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    border-left: 1px solid #e7e7e7;
  }
}
/*END WRAPPERS*/

/*NAVBAR ADMIN*/
.navbar-admin {
  background-color: @primaryColor;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .icon-bar { background-color: #FFFFFF; }
  .navbar-toggle:hover { background-color: @darkPrimaryColor; }

  .navbar-username {
    color: #FFFFFF;
    display:inline-block;
    margin-top: 14px;
    margin-right: 15px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

/*CONTENT*/
.page-content {
  background-color: @materialBackgroundColor;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height:100%;
}

@media (min-width: 768px) {
  .page-content{
    margin-left: 250px;
  }
}

.material-container {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #CCCCCC;
  padding: 35px 25px 25px 25px;
  margin-bottom: 30px;

  h1 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }

  h2 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }

  .footer {
    div { margin-bottom: 10px !important; }
    .material-button { width:100% !important; }
  }
}

//CARDS
.material-card {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #CCCCCC;
  padding: 20px 25px 20px 25px;
  margin-bottom: 30px;

  .row:nth-of-type(1) {
    margin-bottom:20px;
  }

  p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}


/*SIDEBAR*/

.sidebar-admin {
  background-color: #FFFFFF;

  .header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
    color: @headerTitleColor;
    text-transform: uppercase;
  }

  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  a:focus i {
    color: @primaryColor;
  }

  .dropdown-admin {
    a:focus i {
      color: @primaryColor
    }

    ul {
      padding-left: 0px;
      display: none;
    }

    ul li a:hover {
      background-color: #eeeeee;
    }

    ul li a:focus {
      background-color: #eeeeee;
    }

    ul li {
      list-style-type: none;
      border-bottom: none !important;
    }

    ul li a {
      position: relative;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 15px;
      border-top: 1px solid #E7E7E7;
    }

    ul li a.active {
      i { color: @primaryColor; }
      background-color: #eeeeee;
    }
  }

  ul li { border-bottom: 1px solid @lightDividerColor; }
  ul li a.active {
    i { color: @primaryColor; }
    background-color: #eeeeee;
  }
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1030;
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.26);
  }
  /*FOR REFERENCE LATER.navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }*/
}

/*SIDEBAR DROPDOWN*/
.sidebar {
  .arrow { float: right; }
  .fa.arrow:before { content: "\f104"; }
  .active > a > .fa.arrow:before { content: "\f107"; }
  .nav-second-level li { border-bottom: none !important; }
  .nav-third-level li { border-bottom: none !important; }
  .nav-second-level li a { padding-left: 37px; }
  .nav-third-level li a { padding-left: 52px; }
}
/*END DROP DOWN*/

/*END SIDEBAR*/

#menu-tabs {
  .material-icons {
    margin:0px;
  }
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
  font-size: 0px;
}

ul.tabs li{
	background: none;
	color: @secondaryTextColor;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
  font-size: 14px;
  border-bottom: 0px;
}

ul.tabs li.current{
	background: @lightDividerColor;
	color: @primaryColor;
  border-bottom: 3px solid @primaryColor;
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

/*************************************************************/
//FOOTER
/*************************************************************/
