/*************************************************************/
// ADMIN BOOTSTRAP TEMPLATE BY INSPIRE ELECTRONICS
/*************************************************************/

//IMPORT BOOTSTRAP FILES
@import "../bootstrap/bootstrap.less";

//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

//VARS
@darkPrimaryColor:   #1976D2;
@primaryColor:       #2196F3;
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #FF5722;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;


/*************************************************************/
// HEADER
/*************************************************************/
body{
  font-family: 'Open Sans', sans-serif;
}

/*************************************************************/
//BODY
/*************************************************************/

/*************************************************************/
//FOOTER
/*************************************************************/
